@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f5fa;
  --foreground: #171717;
  --dark-grey: #333333;
  --light-grey: #bfbfbf;
  --green-color: #4dd645;
  --input-color: #bfbfbf;

  --admin-card-hover: #454545;

  --border-color: rgba(0, 0, 0, 0.25);
  --medium-border: 8px;
  --small-border: 4px;

  --wd-max: 1000px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1000px;
  width: 100%;
}
h1 {
  font-size: 32px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 12px;
}
input {
  width: 60%;
}

input[type="submit"]:active {
  background-color: var(--background);
}
input[type="submit"]:hover {
  background-color: var(--foreground);
}
input[type="submit"] {
  width: 100%;
  padding: 0.4rem;
  background-color: var(--dark-grey);
  color: var(--input-color);
  cursor: pointer;
  font-size: medium;
  font-weight: 500;
}

textarea,
input {
  background: none;
  color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
  border-radius: 2px;
  font-size: small;
}

fieldset {
  border: 2px solid var(--foreground);
}

legend {
  padding: 0 0.6rem;
  border: 1px solid var(--foreground);
}

footer a:hover,
nav a:hover {
  color: var(--input-color);
}

nav a,
footer a {
  font-size: 14px;
}

nav,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.6rem 0;
  background-color: var(--foreground);
  color: var(--background);
}

ol span img {
  filter: grayscale(50);
}

ol span {
  line-height: 1;
}

ol li {
  line-height: 1;
  height: fit-content;
  color: rgba(50, 50, 50, 0.7);
}

ol li a:hover {
  color: rgba(0, 0, 0, 0.8);
}

table {
  background-color: var(--admin-card-hover);
  border-radius: 8px;
  padding: 1rem 0;
}

tr th {
  padding: 1rem;
}

tr td {
  padding: 0.4rem 1rem;
}
table tbody tr td {
  font-weight: 300;
}

table thead tr th {
  text-align: start;
}

.breadcrumb-section {
  background-color: var(--background);
  color: var(--foreground);
  max-width: 1000px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1000px;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
}

.product-card {
  height: 280px;

  transition: all 500ms ease-out;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
}
.product-card:hover {
  box-shadow: 2px -3px 3px 1px rgba(0, 0, 0, 0.15);
}

.products-list {
  margin: 1rem 0;
  border-top: 2px solid var(--border-color);
}

.nav-icon-admin {
  position: absolute;
  top: -35px;
}

.nav-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 45px;
}

.hidden {
  display: none;
}

.product-price {
  transition: all 500ms ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 2px;
}
.product-sell {
  height: 60px;
}

.buy {
  background-color: var(--green-color);
  color: rgba(50, 50, 50, 0.8);
  justify-content: center;
}

.nav-account {
  position: relative;
}

.mobile-nav-links a:hover {
  border-bottom: var(--light-grey) solid 1px;
}
.mobile-nav-links {
  background-color: var(--foreground);
  padding: 1rem 2rem;
  border-bottom: var(--foreground) solid 1px;
}

.menu-categorias div {
  padding: 0.4rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu-categorias a {
  width: max-content;
}

.menu-categorias,
.nav-dropdown-menu {
  gap: 1rem;
  background-color: var(--foreground);
  min-width: 6rem;
  padding: 0.5rem 1rem;
}

.status-dropdown-menu {
  gap: 0 !important;
}
.status-dropdown-menu p {
  border-radius: 0 !important;
}

.status-dropdown-menu p:hover {
  background-color: var(--light-grey);
}

.status-dropdown-menu button:disabled:hover {
  cursor: not-allowed;
  /* background-color: transparent; */
}
.status-dropdown-menu button:hover {
  color: var(--foreground);
}

.button-quero {
  background-color: var(--green-color);
  width: 100%;
  font-weight: 600;
  font-size: larger;
}

.button-quero:hover {
  background-color: #198819;
  color: #f4f5fa;
}

.list-title a:hover {
  /* font-weight: 400; */
  color: var(--dark-grey);
}
.list-title a {
  color: var(--input-color);
  font-weight: 300;
}

.payment {
  background-color: var(--light-grey);
}

.payment-details {
  background-color: var(--background);

  input {
    background-color: var(--input-color);
    border: var(--background);
  }
}

.choose button:hover {
  color: var(--background);
}

.buy-button {
  transition: all 500ms ease;
}

.admin-products,
.admin-reports,
.admin-orders,
.admin-main {
  align-items: center;
  background-color: var(--foreground);
  width: 100%;
  max-width: none;
  padding: 1rem;
}

.admin-main header h2 {
  color: var(--input-color);
}

.dash-card {
  cursor: pointer;
  color: var(--input-color);
  background-color: var(--dark-grey);
  border: solid 2px var(--dark-grey);
  h3 {
    font-weight: 500;
  }
  h2 {
    font-weight: 600;
  }
  h2,
  h3,
  p {
    font-size: 18px;
    letter-spacing: 0.6px;
  }
}

.dash-card:hover {
  background-color: var(--admin-card-hover);
  border: solid 2px var(--input-color);
}

.dash-card-most {
  color: var(--input-color);

  background-color: var(--dark-grey);

  h3 {
    font-weight: 500;
  }
  h2 {
    font-weight: 600;
  }
  h2,
  h3,
  p {
    font-size: 18px;
    letter-spacing: 0.6px;
  }
}

.dash-product-card {
  border: solid 2px var(--input-color);
  cursor: pointer;
}

.dash-product-card:hover {
  background-color: var(--foreground);
  border: solid 2px var(--admin-card-hover);
}

.admin-links a {
  font-size: larger;
  padding: 0 1rem;
  font-weight: 200;
}

.add-button-icon {
  width: 24px;
  height: 24px;
}

.add-button {
  display: flex;
  border: 1px solid var(--input-color);
  height: fit-content;
  padding: 0.4rem 1rem;
  gap: 4px;
  color: var(--input-color);
  border-radius: 4px;
}

.add-button:hover {
  color: var(--background);
  border-radius: 0;
}

.radio-category,
.radio-sizes {
  .radio input[type="radio"] {
    display: none;
  }

  .radio .radio-option {
    cursor: pointer;
    padding: 0.6rem 1rem;
    font-size: small;
    font-weight: 300;
    border: 1px solid var(--foreground);
    background-color: var(--foreground);
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
  }

  .radio .radio-option:hover {
    border: 1px solid var(--input-color);
  }

  .radio input[type="radio"]:checked + .radio-option {
    color: var(--foreground);
    background-color: var(--light-grey);
    border: 1px solid var(--input-color);
  }
}
.form-product input[type="number"] {
  width: 60px;
  color: var(--dark-grey);
}

.form-product input {
  background-color: var(--light-grey);
  color: var(--dark-grey);
  border-radius: 4px;
  padding: 0 0.4rem;
}

.form-product {
  background-color: var(--dark-grey);
  border-radius: 8px;
  padding: 2rem;
}

.radio-sizes label:hover {
  background-color: var(--admin-card-hover);
}
.sideImage label {
  display: flex;
  justify-content: center;

  align-items: center;
  font-size: larger;
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  border: solid 1px var(--background);
  border-radius: 4px;
  object-fit: cover;
}

.sideImage input {
  opacity: 0;
  height: 0;
  width: 1rem;
}

.sideImage h3,
.backImage h3 {
  font-size: 14px;
  font-weight: 400;
}

.form-product input[type="submit"] {
  background-color: var(--foreground);
  padding: 0.4rem;
  font-size: larger;
  text-transform: uppercase;
  color: var(--light-grey);
}

.form-product input[type="submit"]:hover {
  color: var(--admin-card-hover);
}

.form-product input:disabled {
  background-color: var(--dark-grey);
  border: 2px solid var(--foreground);
}
.submit-button {
  color: var(--foreground);
}

.imagesUpload img {
  border-radius: 1rem;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  border: 0 !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important ;
  padding: 0 !important ;
  position: absolute I !important ;
  width: 1px I !important;
  white-space: nowrap !important ;
}

.report-chart {
  background-color: var(--admin-card-hover);
}

.order-status:hover {
  color: var(--light-grey);
}

.quantity-buy input {
  border: var(--input-color) 1px solid;
}

.product-size label {
  color: var(--light-grey);
}

.product-size {
  .radio input[type="radio"] {
    display: none;
  }

  .radio .radio-option {
    cursor: pointer;
    padding: 0.4rem 1rem;
    font-size: small;
    font-weight: 300;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
    color: var(--foreground);
    background-color: var(--light-grey);
    border: 1px solid var(--input-color);
  }

  .radio .radio-option:hover {
    border: 1px solid var(--input-color);
  }

  .radio input[type="radio"]:checked + .radio-option {
    font-weight: 500;
    border: 1px solid var(--foreground);
    background-color: var(--input-color);
  }
}

.close-options {
  overflow: hidden;
  width: fit-content;
  border: ipx solid var(--dark-grey);
}

.about-page {
  padding-bottom: 2rem;
}

.order-info {
  background-color: var(--admin-card-hover);
  border-radius: 1rem;
  padding: 1rem;
}

.order-info p {
  padding: 0.4rem 1rem;
  background-color: var(--dark-grey);
  border-radius: 0.4rem;
  min-width: 4rem;
}

.order-status-info div,
.order-product-info div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.sizeInput input {
  width: 2.4rem !important;
  padding: 0.2rem 0.2rem;
  /* padding-left: 0.4rem; */
}

.table-sizes {
  display: flex;
}
.table-sizes p {
  border: 1px solid var(--dark-grey);
  border-radius: 0.2rem;
  min-width: 2.8rem;
  padding: 0.4rem 0.4rem;
}

.sizeZero {
  background-color: #171717 !important;
}

@media (max-width: 1000px) {
  .products-list {
    margin: 1rem;
    border-top: 2px solid var(--border-color);
    grid-template-columns: repeat(3, 1fr);
  }
  .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .list-title,
  .title {
    padding: 0 1rem;
  }
}
@media (max-width: 800px) {
  .contact-form {
    width: 100%;
    padding: 0 2rem;
  }
  .product-container {
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
  }
  .product-details {
    width: 100%;
    max-width: 500px;
  }
}
@media (max-width: 700px) {
  .footer-media {
    flex-direction: column;
  }
  .products-list {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 440px) {
  .products-list {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media (min-width: 650px) {
  .nav-menu-button {
    display: none;
  }
}
@media (max-width: 649px) {
  .wide-screen-nav {
    display: none;
  }
  .footer-creator {
    display: none;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

.menu-categorias.show {
  animation: slideDown 0.5s forwards;
}

.menu-categorias.hide {
  animation: slideUp 0.5s forwards;
}

@keyframes dropdownSlideDown {
  from {
    transform: translateY(-0.5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes dropdownSlideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-0.5rem);
    opacity: 0;
  }
}

.nav-dropdown-menu.show {
  animation: dropdownSlideDown 0.5s forwards;
}

.nav-dropdown-menu.hide {
  animation: dropdownSlideUp 0.5s forwards;
}

.us-details {
  display: grid;
  grid-template-areas: "who .";
  grid-template-columns: 80% 20%;
}

.foundation-details {
  display: grid;
  grid-template-areas: ". us";
  grid-template-columns: 20% 80%;
}

.us-text {
  grid-area: who;
  background: var(--light-grey);
  padding: 2rem;
  border-radius: 1rem;
}

.foundation-details p {
  grid-area: us;
  color: var(--light-grey);
  background: var(--admin-card-hover);
  padding: 2rem;
  border-radius: 1rem;
}

.collab-details {
  color: var(--light-grey);
  background: var(--dark-grey);
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  row-gap: 1rem;
  grid-template-areas:
    "coll ."
    "collab .";
  grid-template-columns: 80% 20%;
}

.about-collection {
  grid-area: coll;
}

.about-collab {
  grid-area: collab;
}

.production-details {
  display: grid;
  grid-template-areas: "who .";
  grid-template-columns: 80% 20%;
  color: var(--light-grey);
  background: var(--admin-card-hover);
  padding: 2rem;
  border-radius: 1rem;
}

.about-contact-details {
  width: max-content;
  background: var(--light-grey);
  padding: 2rem;
  border-radius: 1rem;
}

.contact-form textarea {
  min-height: 8rem;
}

.contact-form textarea,
.contact-form input {
  width: 100%;

  padding: 1rem;
}

.user-order {
  padding: 1rem 2rem;
  border: 1px solid var(--light-grey);

  border-radius: 8px;
}
